SESSION_ID = levanter_1272b90ccc9b744b7a8a8fd8d7133183bc
PREFIX = ,
STICKER_PACKNAME = LyFE
ALWAYS_ONLINE = false
RMBG_KEY = null
LANGUAG = en
WARN_LIMIT = 3
FORCE_LOGOUT = false
BRAINSHOP = 159501,6pq8dPiYt7PdqHz3
MAX_UPLOAD = 200
REJECT_CALL = false
SUDO = 254776728535
TZ = Africa/Nairobi
VPS = true
AUTO_STATUS_VIEW = no-dl
SEND_READ = false
AJOIN = true
DISABLE_START_MESSAGE = false
PERSONAL_MESSAGE = "null"
AUTO_UPDATE="true"
